 .fj-player {
     margin: 0 auto;
 }
 
 .fj-figure {
     background-color: rgba(0, 0, 0, 0.5);
     color: rgb(255, 255, 255);
     text-align: center;
     position: relative;
     margin: 0px auto 0px auto;
     display: inline-block;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     float: left;
     width: 100%;
 }
 
 .fj-control {
     background-color: rgba(10, 10, 10, 0.8);
     color: rgb(255, 255, 255);
     opacity: 0.8;
     cursor: pointer;
 }
 
 .fj-control-embd {
     color: rgb(255, 255, 255);
     opacity: 0.8;
     cursor: pointer;
 }
 
 .fj-control-embd:hover,
 .fj-control:hover {
     opacity: 1.0;
     background: #545353;
 }
 
 .fjcontrols-panel {
     z-index: 2147483647;
     position: absolute;
     border-radius: 5px;
     bottom: 3%;
     opacity: 0.8;
     background: rgba(10, 10, 10, 0.8);
     width: 90%;
     margin-left: 5%;
     display: relative;
     float: left;
 }
 
 .fj-video-progress {
     margin-bottom: 0.5%;
     margin-top: 0.5%;
     padding-left: 1px;
     padding-right: 1px;
 }
 /*---------- position Horizental -----------*/
 
 .divTspanitleSeparator {
     position: relative;
     visibility: visible;
     text-overflow: ellipsis;
     overflow: hidden;
     margin: 0px;
     white-space: nowrap;
     display: inline-block;
     max-width: 766px;
     font-size: 12px;
     padding: 10px;
 }
 
 .fj-horizental-top {
     z-index: 2147483647;
     border-radius: 5px;
     top: 5%;
     width: 80%;
     position: absolute;
     left: 10%;
 }
 
 .fj-horizental-center {
     z-index: 2147483647;
     border-radius: 5px;
     top: 45%;
     width: 80%;
     position: absolute;
     left: 10%;
 }
 
 .fj-horizental-bottomMenus {
     z-index: 2147483647;
     position: absolute;
     border-radius: 5px;
     bottom: 22%;
     opacity: 0.8;
     background: rgba(10, 10, 10, 0.8);
     width: 90%;
     margin-left: 5%;
     display: relative;
 }
 
 .fj-horizental-bottomUpper {
     z-index: 2147483647;
     position: absolute;
     border-radius: 5px;
     bottom: 12%;
     opacity: 0.8;
     background: rgba(10, 10, 10, 0.8);
     width: 90%;
     margin-left: 5%;
     display: relative;
 }
 
 .fj-horizental-bottomLower {
     z-index: 2147483647;
     position: absolute;
     border-radius: 5px;
     bottom: 2%;
     opacity: 0.8;
     background: rgba(10, 10, 10, 0.8);
     width: 90%;
     margin-left: 5%;
     display: relative;
 }
 
 .fj-timers {
     color: rgb(255, 255, 255);
     cursor: default;
     padding-right: 10px !important;
     padding-top: 0.5% !important;
 }
 
 .fj-desc {
     color: rgb(255, 255, 255);
     cursor: default;
     padding-left: 10px !important;
     padding-top: 0.5% !important;
 }
 /*---------- position Vertical -----------*/
 
 .fj-vertical-separator {
     position: relative;
     visibility: visible;
     text-overflow: ellipsis;
     overflow: hidden;
     margin: 0px;
     white-space: nowrap;
     display: inline-block;
     max-width: 766px;
     font-size: 12px;
     padding: 10px;
 }
 
 .fj-vertical-left {
     position: relative;
     float: left;
 }
 
 .fj-vertical-center {
     position: relative;
 }
 
 .fj-vertical-right {
     position: relative;
     float: right;
 }
 /*---------- types -----------*/
 
 .fj-video {
     -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
     background-size: cover;
 }
 
 .fj-text {
     font-size: 1em;
     line-height: 2;
 }
 
 .fj-smallText {
     font-size: 1em;
     line-height: 2;
 }
 
 .fj-btn {
     border-top-left-radius: 5px;
     border-top-right-radius: 5px;
     border-bottom-right-radius: 5px;
     border-bottom-left-radius: 5px;
     padding-left: 10px;
     padding-right: 10px;
     padding-top: 5px;
     padding-bottom: 5px;
     text-overflow: ellipsis;
     overflow: hidden;
     white-space: nowrap;
     display: inline-block;
 }
 
 .fj-big-btn {
     border-top-left-radius: 5px;
     border-top-right-radius: 5px;
     border-bottom-right-radius: 5px;
     border-bottom-left-radius: 5px;
     padding-left: 10px;
     padding-right: 10px;
     padding-top: 5px;
     padding-bottom: 5px;
     text-overflow: ellipsis;
     overflow: hidden;
     white-space: nowrap;
     display: inline-block;
     font-size: 3.6em !important;
     margin-top: -15px;
     margin-left: -15px;
 }
 
 .fj-hide {
     visibility: hidden;
 }
 
 .fj-overlayContainer {
     width: 100%;
     height: 100%;
     margin: 0 auto;
     padding: 0px;
     position: absolute;
 }
 
 .fj-overlay {
     position: absolute;
     background: rgba(0, 0, 0, 0.5);
     float: left;
     font-size: 12px;
     padding: 5px;
     border-radius: 5px;
     z-index: 2147483647;
     top: 20%;
     left: 20%;
     height: auto;
 }
 
 .fj-adsinfo {}
 
 .fj-fa-icon {
     font-family: FontAwesome;
     font-size: 1.3em;
 }
 /* ----------------------- spinner  ------------------------ */
 
 @keyframes spinner {
     to {
         transform: rotate(360deg);
     }
 }
 
 .spinner:before {
     content: '';
     box-sizing: border-box;
     z-index: 2147483647;
     position: absolute;
     top: 50%;
     left: 50%;
     width: 30px;
     height: 30px;
     margin-top: -15px;
     margin-left: -15px;
     border-radius: 50%;
     border: 3px solid #ccc;
     border-top-color: #FF0000;
     animation: spinner .6s linear infinite;
 }
 /*_________________________ RANGE ________________________*/
 
 .volumebar {
     margin-top: 1%;
     padding-left: 1%;
     padding-right: 3%;
     border-left: none;
     border-right: none;
 }
 
 input[type="range"] {
     -webkit-appearance: none;
     -moz-apperance: none;
     cursor: pointer;
     width: 98%;
     left: 1%;
     border-radius: 6px;
     height: 8px;
     background-image: -webkit-gradient( linear, left top, right top, color-stop(0, #FF0000), color-stop(0, #8F9B9E));
 }
 
 input[type='range']::-webkit-slider-thumb {
     -webkit-appearance: none !important;
     background-color: #FF0000;
     border: 1px solid rgba(10, 10, 10, 0.8);
     height: 14px;
     width: 14px;
     margin-left: -1.5px;
     border-radius: 100%;
     box-shadow: 2px 2px rgba(0, 0, 0, 0.5);
 }
 
 input[type='range']::-moz-slider-thumb {
     -webkit-appearance: none !important;
     background-color: #FF0000;
     border: 1px solid rgba(10, 10, 10, 0.8);
     height: 14px;
     width: 14px;
     margin-left: -1.5px;
     border-radius: 100%;
     box-shadow: 2px 2px rgba(0, 0, 0, 0.5);
 }
 
 input[type=range]:focus {
     outline: none;
 }
 /* ---------------------- Menu style --------------------- */
 
 .fj-list-title {
     cursor: default;
     font-weight: bold;
     padding: 5px;
 }
 
 .settingMenuDiv {
     position: absolute;
     background: rgba(10, 10, 10, 0.8);
     bottom: 10%;
     left: 85%;
     margin-bottom: 15px;
     border-radius: 5px;
     padding-right: 5px;
     list-style-type: none;
 }
 
 .settingMenuDivnt div,
 .settingMenuDivnt ul {
     display: inline;
     list-style-type: none;
 }
 
 .fj-list {
     list-style-type: none;
     padding-left: 25px;
 }
 
 .settingMenuSubMenuRight {
     float: left;
     width: 100%;
     border-left: 1px solid #2A2A2A;
     padding-left: 5px;
     padding-right: 5px;
 }
 
 .subtitles-menu-item-actif {
     cursor: pointer;
     text-align: left;
     border-radius: 2px;
     opacity: 1;
 }
 
 .subtitles-menu-item-actif:before {
     content: "\f00c";
     /* FontAwesome Unicode */
     font-family: FontAwesome;
     display: inline-block;
     margin-left: -1.3em;
     /* same as padding-left set on li */
     width: 1.3em;
     /* same as padding-left set on li */
 }
 
 .subtitles-menu-item {
     cursor: pointer;
     text-align: left;
     list-style-type: none;
     opacity: 0.9;
 }
 
 .verticalLine {
     border-left: thick solid #FF0000;
     height: 90px;
     width: 5px;
     border-radius: 2px;
     margin-right: 5px;
     margin-left: 15px;
 }
 /*------------------ OVERLAYS -------------*/
 
 .fj-overlays-container {
     width: 100%;
     height: 100%;
     margin: 0 auto;
     padding: 0px;
     /*position: relative;*/
     position: absolute;
 }
 
 .over-HL {
     position: absolute;
     background: rgba(0, 0, 0, 0.5);
     float: left;
     padding: 5px;
     border-radius: 5px;
     z-index: 2147483647;
     /****/
     top: 25%;
     left: 20%;
     height: auto;
 }
 
 .over-HR {
     position: absolute;
     background: rgba(0, 0, 0, 0.5);
     float: left;
     padding: 5px;
     border-radius: 5px;
     z-index: 2147483647;
     /****/
     top: 25%;
     left: 80%;
     height: auto;
 }
 
 .fj-overlay-closing {
     float: right;
     text-decoration: none;
     display: inline-block;
 }
 
 .fj-overlay-annonce {
     color: rgb(119, 255, 119);
     font-size: 1em;
     float: left;
     text-decoration: none;
     display: inline-block;
 }
 
 .fj-overlay-link {
     color: rgb(255, 255, 0);
     font-size: 0.8em;
     float: left;
     text-decoration: none;
     display: inline-block;
 }
 
 .fj-overlay-description {
     font-size: 1.2em;
     float: right;
     text-decoration: none;
     display: inline-block;
 }
 /* ---------------------- Thumbs style --------------------- */
 
 .thumbsBlockDiv {
     position: absolute;
     margin-bottom: 15px;
     padding-top: 5px;
     border-radius: 5px;
     bottom: 8%;
     background: rgba(10, 10, 10, 0.8);
 }
 
 .thumbsBlock {
     display: table-cell;
     border-radius: 2px;
     vertical-align: top;
     display: inline-block;
 }