 .vjs-default-skin .vjs-control.vjs-logo-button {
         display: block; 
         font-size: 1.5em;
         line-height: 2;
         position: relative;
         top: 0;
         float:right;
         left: 10px;
         height: 100%;
         text-align: center;
         cursor: pointer;
         /*next line added for demo */
         color: #36D8DE; font-weight:bold; text-shadow: 0 0 1em #fff;
         }

/*
{ color: silver; font-weight:normal; text-shadow: 0 0 5em #fff;};
{ color: #36D8DE; font-weight:bold; text-shadow: 0 0 1em #fff;};
*/ 
