/* spinner and animation */
body {
		background: black;
}
.loading {
	width:270px;
	height:200px;
	position:absolute;
	left:50%;
	top:50%;
	margin:-75px 0 0 -135px;
	background: black;
    color: white;
    font-size:0.85em;
}

/* ---------------------- ADS style ------------------- */
.adInfoBlock {  
  display: none; 		
  position: absolute;   
  color: red;
  top: 10px;
  text-align: center;
  font-size: 15px;
  background: rgba(42,42,42,0.75);
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  width: 100%;  
  z-index: 2147483647;
}
.adDataBlock {
  display: none; 
  position: absolute; 
  border: 1px;
  top: 100px; 
  left: 100px;    
  color: #FFF; 
  text-align: center;
  font-size: 20px;
  background: rgba(42,42,42,0.75);
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  width: 640px;
  padding: 50px 0;
  z-index: 2147483647;
}
/* ---------------------- Menu style --------------------- */
/*.settingMenuDiv{
	position: absolute;
	color: #8F9B9E;
	background:rgba(20, 20, 20, 1);
	float: left;
	font-size: 1.5em;
	visibility: hidden;	
	padding: 5px;	
	border-radius: 5px; 	
	z-index: 2147483647;	
}
.settingMenuSubMenu {
   float: left;
    width: 20px;
    height: 20px;
    border: 2px solid #000000;
    margin-left: 10px;
}*/
.settingMenuDiv{
	position: absolute;
	color: #8F9B9E;
	background:rgba(20, 20, 20, 1);
	float: left;
	font-size: 1em;
	visibility: hidden;	
	padding: 5px;	
	border-radius: 5px; 	
	z-index: 2147483647;	
}
.settingMenuSubMenuLeft {
    float: left;
	border-right:1px solid #2A2A2A; 
    padding-right: 5px;
    padding-left: 5px;
}
.settingMenuSubMenuRight {
    float: left;	 
	border-left:1px solid #2A2A2A;  
    padding-left: 5px;
    padding-right: 5px;
}
/* ---------------------- Thumbs style --------------------- */
.thumbsBlockDiv{
	position: absolute;
	display: table;	
	visibility: hidden;	
	background:rgba(20, 20, 20, 1);	
	border-radius: 2px; 	
	z-index: 2147483647;	
}
.thumbsBlock {
	display: table-cell;
	border-radius: 2px; 
    vertical-align: top;	
	display: inline-block;
}

.thumbsBlockTime {
	display: table-cell;
    vertical-align: top;	
	float: left;
	color: white;
	margin-left: 40%;
	font-size: 1em;
	display: inline-block;
}
/* ---------------------- Fjplayer style ------------------- */
.fjplayer {
	background: black;
	position: absolute; 
	width: 100%; 
	height: 100%; 
	overflow: hidden; 
}
.fjcontrols-panel-hover-transition {
	-webkit-transition: opacity 0.4s  ease-in-out;
   	-moz-transition: opacity 0.4s  ease-in-out;
	-ms-transition: opacity 0.4s  ease-in-out;
 	-o-transition: opacity 0.4s  ease-in-out;
	transition: opacity 0.4s  ease-in-out;
}
.fjcontrols-panel {
	z-index: 2147483647;
	position: absolute; 		
	border-radius: 5px;
	bottom: 2%;
	opacity: 0;
	background:rgba(20, 20, 20, 1);
	width: 60%;
	margin-left: 20%;
	display: relative;
	float: left;
}
.fjcontrols-panel:hover {
	opacity: 1;	
}
.fjcontrols-panel-controls {
	width: 100%;
	position:relative;
	cursor: pointer;
}
.fjcontrols-control {
	color: #8F9B9E;
	position:relative;
	cursor: pointer;	
	float: left;	
	height: 100%;
	border-right:1px solid #2A2A2A;
}
.fjcontrols-control-right {
	float: right;		
	border-left:1px solid #2A2A2A;
	border-right:none;
}
.fjcontrols-control-text{
	font-size: 1.5em;
	cursor:auto;
	margin-top: 1%;
	padding-left: 1%;
	padding-right: 1%;
	border-left:none;
	border-right:none;
}
.fjcontrols-control-text-small{
	font-size: 1em;
	line-height: 2;
}
#hprogressbar {	
	width: 90%;
	background-color: #8F9B9E;  
	border-radius: 5px; /* (height of inner div) / 2 + padding */
	padding: 1px;
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 1%;
	margin-bottom: 1%;
	cursor: auto;
}
#hprogressbar > div {
   background-color:  #FF1515;
   width: 40%; /* Adjust with JavaScript */
   height: 10px;
   border-radius: 5px;
}
#vprogressbar {		
	display: none;
	width: 15%;
	background-color: #8F9B9E; 
	border-radius: 5px; /* (height of inner div) / 2 + padding */
	padding: 1px;
	margin-left: 80%;
	margin-right: 5%;
	margin-top: 1%;
	margin-bottom: 1%;
	cursor: auto;
}
#vprogressbar > div {	
   background-color:  #FF1515;
   width: 80%; /* Adjust with JavaScript */
   height: 10px;
   border-radius: 5px;
}
hr {
	margin-top: 5px;
	margin-bottom: -1px;
	border-right: 0px none;
	border-width: 1px 0px 0px;
	border-style: solid none none;
	opacity:0.75;
	border-color: #2A2A2A -moz-use-text-color -moz-use-text-color;
}
video {
	position: absolute; 
	width: 100%; 
	height: 100%; 
	overflow: hidden; 
}
/* hide controls panel on fullscreen with WebKit */
video::-webkit-media-controls-panel {
  display:none !important;
}