<!DOCTYPE html>
<html >
<head>
<!DOCTYPE HTML>
<html>
<head>
	<title>fjplayer.js</title>
	<link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.min.css ">
	<link rel="stylesheet" href="fjplayer.angular.css">
	<script src="../bower_components/jquery/dist/jquery.min.js"></script>
	<script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="../bower_components/angular/angular.js"></script> 
	<script type="text/javascript" src="fjplayer.angular.js"></script>
	<script type='text/javascript'>
		'use strict';
		angular.module('fjplayerdemo', [
		    'fjplayer'
		]);
/*
		$(document).ready(function() {
			$('.fjcontrols-panel').css({'opacity':1}	);
		
			var done = false ;
			var timeout = undefined;
			
			$('.fjplayer').mousemove(function(event){
		    	if(done == false ){
		    		console.log("Moving Overs fjplayer ",event.pageX + ", " + event.pageY ,'at >',new Date());
		    		$('.fjcontrols-panel').css({'opacity':1}	);
		    		done = true;
		    		clearTimeout(timeout);
		    		timeout = setTimeout(  
		    			function(){ 
							console.log(" >>>>> Hiding Again !! ",new Date());
							$('.fjcontrols-panel').css({'opacity':0, 'z-index':2147483647});
							done= false ;
		    			},
		    			 3000);
		    	}else{
		    		console.log(" >>>>> DONE !! ");
		    	}
			});		
		});*/
	</script>
</head>
<body ng-app='fjplayerdemo'>
<div class="fjcontrols-panel-notifier"></div>
<div id="" class="fjplayer" ng-controller='fjplayerCtrl'>
	<video id='videoID' >
		<source id='mp4'   src="https://content.jwplatform.com/videos/q1fx20VZ-kNspJqnJ.mp4" type='video/mp4'>	 
		<track label="English"  kind="subtitles" srclang="en" src="sintel-en.vtt" >
		<track label="Deutsch"  kind="subtitles" srclang="de" src="sintel-de.vtt">
		<track label="Español"  kind="subtitles" srclang="es" src="sintel-es.vtt">
		<track src="thumbs.vtt" kind="metadata" default >		 
	</video>

	<div class="fjcontrols-panel ">
		<div class=" fjcontrols-panel-controls ">
			<div id="hprogressbar" 
						ng-click="goSeek($event)"
         				ng-mouseleave="goHideThumbs($event)"
         				ng-mousemove="goRenderThumbs($event)"
         				ng-mouseover="goShowThumbs($event)" >
		    	<div ng-style="{ 'width': prgressPercentage + '%' }"></div>
		    </div> 		    
		</div>
		<hr>
		<div class="fjcontrols-panel-controls">
			<div class="fjcontrols-control" ng-show='isPlaylist'>
				<i class="glyphicon glyphicon-fast-backward btn-lg" ng-click="goPrevPlaylist()" ></i>
			</div>
			
			<div class="fjcontrols-control">
				<i class="glyphicon  btn-lg"  ng-click="goPlay()"  ng-class="{true:'glyphicon-pause', false: 'glyphicon-play'}[isPlaying]"></i>
			</div>		

			<div class="fjcontrols-control" ng-show='isPlaylist'>
				<i class="glyphicon glyphicon-fast-forward btn-lg"  ng-click="goNextPlaylist()"></i>
			</div>
			
			<div  class="fjcontrols-control fjcontrols-control-text">
				<span>   {{ movieTile }} </span>
			</div>	
			
			<div  class="fjcontrols-control fjcontrols-control-right">
				<i class="glyphicon btn-lg"  ng-click="goFullScreen()" ng-class="{true:'glyphicon-resize-small', false: 'glyphicon-resize-full'}[isFullScreen]"></i>
			</div>		
			
			<div  class="fjcontrols-control fjcontrols-control-right">
				<i class="glyphicon glyphicon-subtitles btn-lg"  ng-click="goSubtitles()" ></i>
			</div>
			
			<div  class="fjcontrols-control fjcontrols-control-right">
				<i class="glyphicon glyphicon-volume-up btn-lg"  ng-click="goVolume()" ></i>
			</div>			
			
			<div  class="fjcontrols-control fjcontrols-control-right fjcontrols-control-text fjcontrols-control-text-small">
				<span id="ctime">{{ movieCTime | duration }}</span>
				<span>/</span>
				<span id="ttime">{{ movieTTime | duration }}</span>
			</div>		
		</div>
	</div>
	<!-- thumbs -->
	<div>
		<span class="thumbsBlock"  id="thumb" ></span>	
		<span class="thumbsBlock"  id="current" >{{thumbTime | duration}}</span>	
	</div>
	<!-- ADS -->
	 <div id="ad_data" class="adDataBlock" ng-show='isAdsDataHidden'>{{ AdsData }}</div>  
	 <div id="ad_info" class="adInfoBlock" ng-show='isAdsInfoHidden'>{{ AdsInfo }}</div>
	 <!-- VOLUME -->
	<div id="vprogressbar" >
    	<div></div>
    </div> 
</div>
</body>
</html>
