<!DOCTYPE html>
<html >
<head>
<!DOCTYPE HTML>
<html>
<head>
	<title>fjplayer.js</title>
	<link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.min.css ">
	<link rel="stylesheet" href="fjplayer.angular.css">
	<script src="../bower_components/jquery/dist/jquery.min.js"></script>
	<script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="../bower_components/angular/angular.js"></script> 
	<script type="text/javascript" src="fjplayer.angular.js"></script>
	<script type='text/javascript'>
		'use strict';
		angular.module('fjplayerdemo', [
		    'fjplayer'
		]);
	</script>
</head>
<body ng-app='fjplayerdemo'>
<div id="fjplayerWrapper" ng-controller='fjplayerCtrl'>
	<div class="loading" ng-hide='videoReady'>
		<span > Forja Player Loading ....</span>
	</div>
	<div ng-show='videoReady' class="fjplayer" >
		<video id='videoID' >
			<source id='mp4'   src="https://content.jwplatform.com/videos/q1fx20VZ-kNspJqnJ.mp4" type='video/mp4'>	 
			<track label="English"  kind="subtitles" srclang="en" src="sintel-en.vtt" >
			<track label="Deutsch"  kind="subtitles" srclang="de" src="sintel-de.vtt">
			<track label="Español"  kind="subtitles" srclang="es" src="sintel-es.vtt">
			<track src="thumbs.vtt" kind="metadata" default >		 
		</video>

		<div  id="MainControlPanel" class="fjcontrols-panel " ng-class="{true:'fjcontrols-panel-hover-transition', false: ''}[isPlaying]">
			<div class=" fjcontrols-panel-controls" ng-hide='showingVolumeBar'>
				<div id="hprogressbar" 
							ng-click="goSeek($event)"
	         				ng-mouseleave="goHideThumbs($event)"
	         				ng-mousemove="goRenderThumbs($event)"
	         				ng-mouseover="goShowThumbs($event)" >
			    	<div ng-style="{ 'width': prgressPercentage + '%' }"></div>
			    </div> 	
			</div>    	    
			<div class=" fjcontrols-panel-controls" ng-show='showingVolumeBar'>
				<!-- VOLUME BAR -->
				<div id="vprogressbar"						
						ng-mouseleave="goHideVolumeBar()"
						ng-mouseover="goUseVolumeBar()"
						ng-mousemove="setVolumeProgressLevel($event)" >
			    	<div    ng-style="{ 'width': volumePercentage + '%' }"  ng-mouseover="goShowVolumeBar()"  ></div>
			    </div>
			</div>	
			<hr>
			<div class="fjcontrols-panel-controls">
				<div class="fjcontrols-control" ng-show='isPlaylist'>
					<i class="glyphicon glyphicon-fast-backward btn-lg" ng-click="goPrevPlaylist()" ></i>
				</div>
				
				<div class="fjcontrols-control">
					<i class="glyphicon  btn-lg"  ng-click="goPlay()"  ng-class="{true:'glyphicon-pause', false: 'glyphicon-play'}[isPlaying]"></i>
				</div>		

				<div class="fjcontrols-control" ng-show='isPlaylist'>
					<i class="glyphicon glyphicon-fast-forward btn-lg"  ng-click="goNextPlaylist()"></i>
				</div>
				
				<div  class="fjcontrols-control fjcontrols-control-text">
					<span>   {{ movieTile }} </span>
				</div>	
				
				<div  class="fjcontrols-control fjcontrols-control-right" ng-show='isFullScreenSupported'>
					<i class="glyphicon btn-lg"  ng-click="goFullScreen()" ng-class="{true:'glyphicon-resize-small', false: 'glyphicon-resize-full'}[isFullScreen]"></i>
				</div>		
				
				<div  class="fjcontrols-control fjcontrols-control-right">
					<i id="subsBtnId" class="glyphicon glyphicon-subtitles btn-lg"  ng-click="goSubtitles()" ></i>
				</div>
				
				<div  class="fjcontrols-control fjcontrols-control-right" 
							ng-mouseleave="goShowProgressBar()"
	         				ng-mouseover="goShowVolumeBar()"
	         				ng-click="goMuteVolume()" >
					<i class="glyphicon btn-lg"
					 ng-class="{'glyphicon-volume-up': VolLevelUp, 'glyphicon-volume-down': VolLevelDown, 'glyphicon-volume-off': VolLevelOff }"></i>
			    </div>						
				<div  class="fjcontrols-control fjcontrols-control-right fjcontrols-control-text fjcontrols-control-text-small">
					<span id="ctime">{{ movieCTime | duration }}</span>
					<span>/</span>
					<span id="ttime">{{ movieTTime | duration }}</span>
				</div>		
			</div>
		</div>
		<!-- setting menu -->
		<div class="settingMenuDiv" id="settingMenuDiv">
			<div class="settingMenuSubMenuLeft"  id="settingMenuCC" ng-bind-html='ccSubMenu'></div>
			<div class="settingMenuSubMenuRight"  id="settingMenulang" ng-bind-html='langSubMenu'></div>
		</div>
		<!-- thumbs -->
		<div class="thumbsBlockDiv" id="thumbDiv">
			<span class="thumbsBlock"  id="thumb" ></span>	
			<span class="thumbsBlockTime"  id="current" >{{thumbTime | duration}}</span>
		</div>
	
		<!-- ADS -->
		 <div id="ad_data" class="adDataBlock" ng-show='isAdsDataHidden'>{{ AdsData }}</div>  
		 <div id="ad_info" class="adInfoBlock" ng-show='isAdsInfoHidden'>{{ AdsInfo }}</div>

	</div>
</div>	
</body>
</html>
