.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


/* makes the font 33% larger relative to the icon container */

.fa-lg {
    font-size: 1.33333333em;
    line-height: 0.75em;
    vertical-align: -15%;
}

.fa-2x {
    font-size: 2em;
}

.fa-3x {
    font-size: 3em;
}

.fa-4x {
    font-size: 4em;
}

.fa-5x {
    font-size: 5em;
}


/* ------------------ icons -------------- */

.fa-play-circle-o:before {
    content: "\f01d";
}

.fa-arrow-left:before {
    content: "\f060";
}

.fa-arrow-right:before {
    content: "\f061";
}

.fa-arrow-up:before {
    content: "\f062";
}

.fa-arrow-down:before {
    content: "\f063";
}

.fa-paragraph:before {
    content: "\f1dd";
}

.fa-sliders:before {
    content: "\f1de";
}

.fa-share-alt:before {
    content: "\f1e0";
}

.fa-share-alt-square:before {
    content: "\f1e1";
}

.fa-home:before {
    content: "\f015";
}

.fa-file-o:before {
    content: "\f016";
}

.fa-clock-o:before {
    content: "\f017";
}

.fa-road:before {
    content: "\f018";
}

.fa-download:before {
    content: "\f019";
}

.fa-step-backward:before {
    content: "\f048";
}

.fa-fast-backward:before {
    content: "\f049";
}

.fa-backward:before {
    content: "\f04a";
}

.fa-play:before {
    content: "\f04b";
}

.fa-pause:before {
    content: "\f04c";
}

.fa-stop:before {
    content: "\f04d";
}

.fa-forward:before {
    content: "\f04e";
}

.fa-fast-forward:before {
    content: "\f050";
}

.fa-step-forward:before {
    content: "\f051";
}

.fa-arrows-alt:before {
    content: "\f0b2";
}

.fa-volume-off:before {
    content: "\f026";
}

.fa-volume-down:before {
    content: "\f027";
}

.fa-volume-up:before {
    content: "\f028";
}

.fa-share:before {
    content: "\f064";
}

.fa-expand:before {
    content: "\f065";
}

.fa-compress:before {
    content: "\f066";
}

.fa-plus:before {
    content: "\f067";
}

.fa-minus:before {
    content: "\f068";
}

.fa-times:before {
    content: "\f00d";
}

.fa-cc:before {
    content: "\f20a";
}