            .fjfigure {
                width: 100%;
                height: auto;
                margin: 0 0 0;
                background-color: rgb(0, 0, 0);
            }
            
            .fjPlayer {
                background-color: rgba(0, 0, 0, 0.5);
                color: rgb(255, 255, 255);
                text-align: center;
                position: relative;
                margin: 0px auto 0px auto;
                display: inline-block;
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            }
            
            .fjplayerExpand {
                width: 100%;
            }
            
            .divofvideo {
                -webkit-background-size: cover;
                -moz-background-size: cover;
                -o-background-size: cover;
                background-size: cover;
            }
            /* ---------------------- Thumbs style --------------------- */
            
            .thumbsBlockDiv {
                position: absolute;
                display: table;
                visibility: hidden;
                border-radius: 2px;
                z-index: 2147483647;
                /*background: rgba(0, 0, 0, 0.5);*/
                background: rgba(10, 10, 10, 0.8);
                font-size: 12px;
                border-radius: 5px;
            }
            
            .thumbsBlock {
                display: table-cell;
                border-radius: 2px;
                vertical-align: top;
                display: inline-block;
            }
            /*______________________________ CONTROLS __________________________*/
            
            .divcontrols {
                margin: 0px auto 0px auto;
                width: 100%;
                height: 25px;
                position: absolute;
                visibility: visible;
                bottom: 0px;
                left: 0px;
            }
            
            .divcontrolsProgress {
                margin: 0px auto 0px auto;
                width: 100%;
                height: 8px;
                position: absolute;
                visibility: visible;
                bottom: 25px;
                left: 0px;
            }
            
            .divconeontrolLeft {
                float: left;
            }
            
            .divconeontrolRight {
                float: right;
            }
            
            .divconeontrolIcon {
                width: 30px;
            }
            
            .divconeontrolVBar {
                width: 60px;
            }
            
            .divonecontrol {
                height: 25px;
                padding-top: 2px;
                padding-right: 1px;
            }
            
            .divTitle,
            .divcontrols,
            .control,
            .divonecontrol {
                display: inline-block;
                vertical-align: top;
            }
            /* this rule is for IE7 and below only
 put it in a Conditional comment without the !ie7 hack if you wish! */
            
            .divcontrols,
            .control,
            .divonecontrol {
                display: inline !ie7;
                margin: 0 2px !ie7;
            }
            
            .controlText {
                padding-top: 2px;
                font-size: 0.75em;
                white-space: nowrap;
            }
            
            .divInfo {
                z-index: 2147483647;
                border-radius: 5px;
                top: 10%;
                width: 80%;
                position: absolute;
                left: 10%;
            }
            
            .divBigPlayBtn {
                font-size: 3.2em;
                z-index: 2147483647;
                border-radius: 5px;
                top: 35%;
                position: absolute;
                left: 45%;
                background-color: rgba(0, 0, 0, 0.5);
                border-radius: 2%;
                padding: 2%;
            }
            
            .divBigPlayBtn:hover {
                background: #333;
            }
            
            .divIconBtn {
                position: relative;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
                display: inline-block;
                cursor: pointer;
                opacity: 0.8;
            }
            
            .divIconBtn:hover {
                opacity: 1.0;
                background: #333;
            }
            
            .divTspanitleSeparator {
                position: relative;
                visibility: visible;
                text-overflow: ellipsis;
                overflow: hidden;
                margin: 0px;
                white-space: nowrap;
                display: inline-block;
                max-width: 766px;
                font-size: 12px;
                padding: 10px;
            }
            /*_________________________  Progress  ________________________*/
            
            .progressbar {
                position: relative;
                visibility: visible;
                width: 100%;
                display: inline-block;
                cursor: pointer;
                height: 10px;
                padding-top: 2px;
                padding-right: 1px;
                bottom: 10px;
            }
            
            .volumebar {
                margin-top: 2%;
                padding-left: 1%;
                padding-right: 3%;
                border-left: none;
                border-right: none;
            }
            /*_________________________ RANGE ________________________*/
            
            input[type="range"] {
                -webkit-appearance: none;
                -moz-apperance: none;
                cursor: pointer;
                width: 98%;
                left: 1%;
                border-radius: 6px;
                height: 8px;
                background-image: -webkit-gradient( linear, left top, right top, color-stop(0, #FF0000), color-stop(0, #8F9B9E));
            }
            
            input[type='range']::-webkit-slider-thumb {
                -webkit-appearance: none !important;
                background-color: #FF0000;
                border: 1px solid rgba(10, 10, 10, 0.8);
                height: 14px;
                width: 14px;
                margin-left: -1.5px;
                border-radius: 100%;
                box-shadow: 2px 2px rgba(0, 0, 0, 0.5);
            }
            
            input[type='range']::-moz-slider-thumb {
                -webkit-appearance: none !important;
                background-color: #FF0000;
                border: 1px solid rgba(10, 10, 10, 0.8);
                height: 14px;
                width: 14px;
                margin-left: -1.5px;
                border-radius: 100%;
                box-shadow: 2px 2px rgba(0, 0, 0, 0.5);
            }
            
            input[type=range]:focus {
                outline: none;
            }
            /* -------------------  CC SUBTITLES --------------------- */
            
            .subtitles-menu-item-actif {
                cursor: pointer;
                text-align: left;
                border-radius: 2px;
                opacity: 1;
            }
            
            .subtitles-menu-item {
                cursor: pointer;
                text-align: left;
            }
            
            .fj-hide {
                visibility: hidden;
                opacity: 0;
                transition: visibility 200ms, opacity 200ms;
            }
            
            .fj-show {
                visibility: visible;
            }
            /* animation */
            
            .m-fadeOut {
                visibility: hidden;
                opacity: 0;
                transition: visibility 200ms, opacity 200ms;
            }
            
            .m-fadeIn {
                visibility: visible;
                opacity: 1;
            }
            /* ---------------------- Menu style --------------------- */
            
            .settingMenuDiv {
                position: absolute;
                background: rgba(10, 10, 10, 0.8);
                float: left;
                font-size: 12px;
                /* visibility: hidden;*/
                padding: 5px;
                border-radius: 5px;
                z-index: 2147483647;
            }
            
            ul {
                padding: 2px;
                margin: 2px;
                list-style-type: none;
            }
            
            ul li {}
            
            .settingMenuSubMenuRight {
                float: left;
                width: 100%;
                border-left: 1px solid #2A2A2A;
                padding-left: 5px;
                padding-right: 5px;
            }
            /* CUES and subtitles */
            
             ::cue {
                color: #ccc;
            }
            
             ::cue(v[voice='Test']) {
                color: #fff;
                background: #0095dd;
            }
            /* OVERLAYS */
            
            .fjOvcontainer {
                width: 100%;
                height: 100%;
                margin: 0 auto;
                padding: 0px;
                /*position: relative;*/
                position: absolute;
            }
            
            .over-HL {
                position: absolute;
                background: rgba(0, 0, 0, 0.5);
                float: left;
                font-size: 12px;
                padding: 5px;
                border-radius: 5px;
                z-index: 2147483647;
                /****/
                top: 20%;
                left: 20%;
                height: auto;
            }
            
            .over-DL {
                position: absolute;
                background: rgba(0, 0, 0, 0.5);
                float: center;
                font-size: 12px;
                border-radius: 5px;
                z-index: 2147483647;
                bottom: 2%;
                width: 96%;
                left: 2%;
                height: auto;
            }
            /*__________________________________________ FJCONTROL ____________________________*/
            
            .fjcontrols-panel {
                z-index: 2147483647;
                position: absolute;
                border-radius: 5px;
                bottom: 3%;
                opacity: 1;
                background: rgba(10, 10, 10, 0.8);
                width: 90%;
                margin-left: 5%;
                display: relative;
                float: left;
            }
            
            .fjcontrols-panel-controls {
                width: 100%;
                position: relative;
                margin-bottom: 2px;
            }
            
            .fjcontrols-control {
                margin-bottom: 2px;
                position: relative;
                float: left;
                height: 100%;
                /*border-right: 1px solid #2A2A2A;*/
            }
            
            .fjcontrols-control-right {
                float: right;
                /*  border-left: 1px solid #2A2A2A; */
                border-right: none;
            }
            
            .fjcontrols-control-text {
                font-size: 0.9em;
                cursor: auto;
                padding-left: 1%;
                padding-right: 1%;
                border-left: none;
                border-right: none;
            }
            
            .fjcontrols-control-text-small {
                font-size: 1em;
                line-height: 2;
            }
            
            .hprogressbar {
                width: 99%;
                left: 0.5%;
                text-align: center;
                display: inline-block;
            }
            
            .vprogressbar {
                display: none;
                width: 15%;
                border-radius: 5px;
                padding: 1px;
                margin-left: 80%;
                margin-right: 5%;
                margin-top: 1%;
                margin-bottom: 1%;
                cursor: auto;
            }
            
            .vprogressbar>div {
                width: 80%;
                height: 10px;
                border-radius: 5px;
            }
            
            hr {
                margin-top: 5px;
                margin-bottom: -1px;
                border-right: 0px none;
                border-width: 1px 0px 0px;
                border-style: solid none none;
                opacity: 0.75;
                border-color: #2A2A2A -moz-use-text-color -moz-use-text-color;
            }
            /*_________________________________________ VIDEO __________________________*/
            
            video::-webkit-media-controls-panel {
                display: none !important;
            }
            
             ::-webkit-media-controls {
                display: none !important;
            }
            
            video::-webkit-media-controls {
                display: none !important;
            }
            
            video::-webkit-media-controls-enclosure {
                display: none !important;
            }
            
            .custom-video-controls {
                z-index: 2147483647;
            }
            
            .divcontrols {
                z-index: 2147483647;
            }
            /*_________________________________ FULL SCREEN __________________________*/
            /* fullscreen */
            
            html:-ms-fullscreen {
                width: 100%;
            }
            
             :-webkit-full-screen {
                background-color: transparent;
            }
            /* hide controls on fullscreen with WebKit */
            
            figure[data-fullscreen=true] video::-webkit-media-controls {
                display: none !important;
            }
            
            figure[data-fullscreen=true] {
                max-width: 100%;
                width: 100%;
                margin: 0;
                padding: 0;
            }
            
            figure[data-fullscreen=true] video {
                height: 100%;
            }
            
            figure[data-fullscreen=true] .fjcontrols-control {
                width: 5%;
            }
            
            figure[data-fullscreen=true] .fjcontrols-control .volumebar {
                width: 35%;
            }
            
            figure[data-fullscreen=true] .fjcontrols-control-text {
                font-size: 1.4em;
            }
            
            figure[data-fullscreen=true] span.fa.fa-3x {
                font-size: 5em;
            }
            
            figure[data-fullscreen=true] span.fa {
                font-size: 2em;
                margin-bottom: 5px;
            }
            /* Closing X */
            
            .close {
                position: relative;
                display: inline-block;
                width: 50px;
                height: 50px;
                overflow: hidden;
                &:hover {
                    &::before,
                    &::after {
                        background: $blue;
                    }
                }
                &::before,
                &::after {
                    content: '';
                    position: absolute;
                    height: 2px;
                    width: 100%;
                    top: 50%;
                    left: 0;
                    margin-top: -1px;
                    background: #000;
                }
                &::before {
                    @include transform(rotate(45deg));
                }
                &::after {
                    @include transform(rotate(-45deg));
                }
                &.big {
                    @include transform(scale(3));
                }
                &.hairline {
                    &::before,
                    &::after {
                        height: 1px;
                    }
                }
                &.thick {
                    &::before,
                    &::after {
                        height: 4px;
                        margin-top: -2px;
                    }
                }
                &.black {
                    &::before,
                    &::after {
                        height: 8px;
                        margin-top: -4px;
                    }
                }
                &.heavy {
                    &::before,
                    &::after {
                        height: 12px;
                        margin-top: -6px;
                    }
                }
                &.pointy {
                    &::Before,
                    &::after {
                        width: 200%;
                        left: -50%;
                    }
                }
                &.rounded {
                    &::before,
                    &::after {
                        border-radius: 5px;
                    }
                }
                &.blades {
                    &::before,
                    &::after {
                        border-radius: 5px 0;
                    }
                }
                &.warp {
                    &::before,
                    &::after {
                        border-radius: 120% 0;
                    }
                }
                &.fat {
                    &::before,
                    &::after {
                        border-radius: 100%;
                    }
                }
            }